@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Lexend";
}

h1, h2, h3, h4, h5, h6{
    font-family: "Kanit";
    text-align: center;
}

h1, h2{
    color: white;
    text-shadow: 0px 0px 0.5em black;
}

:root{
    --toalwidth: 80vw;
    --width:calc(var(--toalwidth)/3);
    --k15: calc(var(--width)/11.2);
    --k14: calc(var(--width)/12);
    --k13: calc(var(--width)/(168/13));
    --orange: #ce621a;
    --yellow: #de892e;
    --green: #988054; 
    --blue: #3d5150; 
    --darkblue: #232e30;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

/* header*/
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.33);
    padding: 1em;
    top: 0;
    text-shadow: 2em;
    background-color: rgba(255, 255, 255, 0.300);
    width: 100dvw;
    color: white;
    z-index: 10;
    align-items: center;
}

.logo{
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #fcf8f5;
    border-radius: 15px;
}

header button{
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: var(--blue);
    border: none;
    padding: 1em;
}

header a:visited{
    color: white;
}

.main-index section{
    padding: 3rem;
}

/* main section intro */
.intro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 0.5em black;
    text-align: center;
    color: white;
    height: 100dvh;
}

.intro::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./assets/piano-intro-background.jpg");
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
}

.intro div{
    align-self: center;
}

.intro h1{
    font-size: 5em;
}

.intro p{
    font-size: 2em;
}

.intro img{
    position: relative;
    top: 150px;
}

/* main section about-us */
.about-us{
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-img-text{
    text-align: justify;
}

.about-us img{
    float: right;
    width: 40%;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 0 1em;
}

/* main section select-instrument */
.select-instrument{
    display: flex;
    flex-direction: column;
    background-color: var(--green);
}

.try-play{
    text-align: center;
    padding-bottom: 50px;
}

.instruments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.instruments button{
    border-radius: 15px;
    border: none;
    padding: 0;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--yellow);
    position: relative;
}

button p{    
    background-color: var(--blue);
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.btn-piano{
    background-image: url(./assets/piano-play-button.jpg);
}

.btn-drums{
    background-image: url(./assets/drums-play-button.jpg);
}

.btn-xylophone{
    background-image: url(./assets/xylophone-play-button.jpg);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: 2;
    background-color: #de892e98;
}

/* main section contact-us */
.contact-us{
    background-image: url(./assets/piano-teacher-contact-us.jpg);
    background-size: cover;
    background-color: transparent;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.text-visit-us{
    color: white;
    text-shadow: 0px 0px 10px black; 
    text-align: center;
}

.box-discover-rhythm{
    background-color: rgba(255, 255, 255, 0.722);
    padding: 1.5em;
    border-radius: 10px;
}

/* footer */
footer{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--yellow);
}

.footer-title{
    align-self: center;
}

.footer-info{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contact a{
    color: black;
}

.footer-adress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* piano title*/
.main-piano{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--blue);
}

.piano-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

/* piano section*/
.piano{
    display:flex;
    flex-direction: row;
    width: var(--totalwidth);
    justify-content: center;
    height: fit-content;
}

/* piano wrapper*/
.piano-wrapper{
    align-self: center;
    position: relative;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: fit-content;
    aspect-ratio: 1/0.89;
}

.keys button{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    border-top: none;
    white-space: pre;
}

.white-keys{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    aspect-ratio: 1/0.89;
}

.white-keys button{
    width: calc(var(--width)/7);
    border: 1px solid #999;
    box-shadow: inset 0 0 8px #999999;
    background: linear-gradient(#ddd, #fff 25%);
    font-size: calc(var(--width)/20);
}

.black-keys{
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 1000;
}

.black-keys button{
    width: calc(var(--width)/12);
    height: calc(var(--width)/(168/90));;
    position: absolute;
    background: linear-gradient(#555, #000 30%); 
    box-shadow:  0 4px 5px #ccc, inset 0px 0px 0px 2px rgba(220, 220, 220, 0.2);
    border: solid #000;
    border-width: 0 8px 14px;
    border-bottom-color: #424546;
    border-left-color: #121516;
    border-right-color: #121516;
    color: white;
    font-size: calc(var(--width)/30);
}

.black-keys button:nth-child(1){
    left: var(--k15);
}

.black-keys button:nth-child(2){
    left: calc(var(--k15) + var(--k14)*2);
}

.black-keys button:nth-child(3){
    left: calc(var(--k15)*2 + var(--k14)*3 + var(--k13));
}

.black-keys button:nth-child(4){
    left: calc(var(--k15)*2 + var(--k14)*5 + var(--k13));
}

.black-keys button:nth-child(5){
    left: calc(var(--k15)*2 + var(--k14)*7 + var(--k13));
} 

.white-keys button:hover{
    cursor: pointer;
    background: linear-gradient(#ffffff, #eeeded 25%);
}

.black-keys button:hover{
    background: black;
    background: linear-gradient(#5c5c5c, #353535 30%); 
    cursor: pointer;
}

.black-keys button.active{
    box-shadow:  inset 0px 0px 0px 2px rgba(220, 220, 220, 0.2);
    background: linear-gradient(#818181, #505050 30%); 
    border-width: 0 8px 8px;
}

.white-keys button.active{
    background: linear-gradient(#ffffff, #ddd 25%);
}